# Hi there! 👋

My name is **Marcelo**, and I'm from 🇧🇷 (and half 🇮🇹)! 😎

I'm a maintainer of **[Uvicorn]** and **[Starlette]**, and I'm also considered a **[FastAPI Expert]**. 🤓

I'm currently working at **[Pydantic]**. 🚀

I also have a [YouTube channel], where I talk about Python, FastAPI, and other stuff. 🎥

Besides that, I also speak at [Python conferences]! 🎤

### I want to contribute!

Do you want to start on open source but you don't know where to start?

That's great! I'm always looking for help on my projects. 🤩

This section is an updated list of issues that _you_ can help. 🤓

| 🎁 Project   | 📜 Issue |
|---|---|
{%- for item in table if item.state == 'open' %}
| **[{{ item.project }}]** | [{{ item.title }}] |
{%- endfor %}

<details>
    <summary>Check who helped me already!</summary>

| 🎁 Project   | 📜 Issue | 🤩 Author |
|---|---|---|
{%- for item in table if item.state == 'closed' %}
| **[{{ item.project }}]** | [{{ item.title }}] | [@{{ item.assignee }}] |
{%- endfor %}

</details>


[ASGI Logger]: https://github.com/Kludex/asgi-logger
[Awesome Pydantic]: https://github.com/Kludex/awesome-pydantic
[Awesome Python Codemods]: https://github.com/Kludex/awesome-python-codemods
[BaseSQLModel]: https://github.com/Kludex/basesqlmodel
[Bump TestClient]: https://github.com/Kludex/bump-testclient
[Python conferences]: https://www.youtube.com/playlist?list=PLHI4xriXPKCjEN_8i5nEM0zPh8PxgEQPW
[Debug a FastAPI Application]: https://github.com/microsoft/vscode-python/pull/14606
[Debug a FastAPI Application on Docker]: https://github.com/microsoft/vscode-docker/pull/2740
[FastAPI AsyncAPI]: https://github.com/Kludex/fastapi-asyncapi
[FastAPI Authorization]: https://github.com/Kludex/fastapi-authorization
[FastAPI Dependency]: https://github.com/kludex/fastapi-dependency
[FastAPI Expert]: https://fastapi.tiangolo.com/fastapi-people/#experts
[FastAPI Health]: https://github.com/Kludex/fastapi-health
[FastAPI Microservices]: https://github.com/Kludex/fastapi-microservices
[FastAPI Responses]: https://github.com/Kludex/fastapi-responses
[Flake8 FastAPI]: https://github.com/Kludex/flake8-fastapi
[Getting Started with FastAPI]: https://github.com/Kludex/fastapi-workshop
[KWonly Transformer]: https://github.com/Kludex/kwonly-transformer
[LibCST Mypy]: https://github.com/Kludex/libcst-mypy
[Load Env Vars at Startup]: https://github.com/Kludex/load-env-vars-at-startup
[Manage FastAPI]: https://github.com/ycd/manage-fastapi
[No Optional]: https://github.com/Kludex/no-optional
[No Route]: https://github.com/Kludex/no-route
[YouTube channel]: https://www.youtube.com/channel/UC91TdNbobUqT3d2CHcTkx8A
[Only Relative Import]: https://github.com/Kludex/only-relative-import
[Performance Tips by The FastAPI Expert]: https://github.com/Kludex/fastapi-performance
[promypy]: https://github.com/Kludex/promypy
[Python Template]: https://github.com/Kludex/python-template
[Pydantic]: https://pydantic.dev/
[rsort]: https://github.com/Kludex/rsort
[Simple Timing]: https://github.com/Kludex/simpletiming
[Starlette]: https://github.com/encode/starlette
[Starlette TestClient]: https://github.com/Kludex/starlette-testclient
[Uvicorn]: https://github.com/encode/uvicorn
[Uvicorn Browser]: https://github.com/Kludex/uvicorn-browser
[Uvicorn Experimental]: https://github.com/Kludex/uvicorn-exp
[Uvicorn Worker]: https://github.com/Kludex/uvicorn-worker
{%- for item in table %}
[{{ item.project }}]: https://github.com/{{ item.project }}
[{{ item.title }}]: https://github.com/{{ item.project }}/issues/{{ item.issue }}
{%- if item.state == 'closed' %}
[@{{ item.assignee }}]: https://github.com/{{ item.assignee }}
{%- endif %}
{%- endfor %}
